$containerWidth: 1200
$mainFontColor: #000000
$mainFontFamily: "Abraham-Lincoln"
$background: #fff

@import "nullStyle"
@import "mixins"
@import "fonts"
@import "adaptiveImg"
@import "header"
@import "footer"

body
    height: 100%
    color: $mainFontColor
    font-family: $mainFontFamily
    background: #000000ee
    text-transform: uppercase
    @include adaptive-property ('font-size',18,12)

    &.fixed
        overflow: hidden

.main
    width: 100%

    &__body

.fullscreen
    position: relative
    display: flex
    justify-content: center
    align-items: center

    @include size(auto, 100vh)
    @include adaptive-property ('min-height',900, 500)

    background: url('../images/fullscreenBG.jpg') no-repeat bottom / cover

    @media (min-width: 1600px)
        transform: translate(xy)
        background: url('../images/fullscreenBG.jpg') no-repeat center / cover

    @media (max-width: 600px)
        @include size(auto, 100vh)

    &__body
        color: #fff
        display: flex
        justify-content: center
        align-items: center
        flex-flow: column nowrap

        @media (max-width: 426px)
            margin: 70px 0px 0px 0px

        *
            margin: 0px 0px 20px 0px
            &:last-child
                margin-bottom: 0

    &__title
        color: #ffa800
        @include adaptive-property ('font-size',70, 40)

    &__subtitle
        text-align: center
        line-height: 1.25
        @include adaptive-property ('font-size',25, 20)
        letter-spacing: 8px

    &__scroll
        z-index: 5
        text-transform: uppercase
        font-family: $mainFontFamily
        color: #fff
        letter-spacing: 5.2px
        @include adaptive-property ('font-size',24, 15)

        display: flex
        flex-flow: column nowrap
        margin: 10% auto 0 auto

        @media (max-width: 550px)
            display: none

        &:before
            position: relative
            top: 0
            right: 10%
            margin-left: auto
            display: inline-block
            @include adaptive-property ('height',60, 45)
            @include adaptive-property ('width',60, 45)
            border-left: 1px solid #fff
            border-right: 1px solid #fff
            border-top: 1px solid #fff
            content: ''
        &:after
            display: inline-block
            margin: auto
            content: url('../images/icons/arrowBottom.png')
            padding: 70% 0px 0px 0px

    &__copyright
        position: absolute
        bottom: 15%
        right: -24px
        letter-spacing: 3px
        @include adaptive-property ('font-size',12, 12)

        transform: rotate(-89.9deg)
        transition: all 0.2s ease
        @media (max-width: 950px)
            transform: none
            left: 1%
            right: 0
            bottom: 0
            top: 1%
            color: #686868

.content
    text-align: center
    @media (max-width: 426px)
        overflow-x: hidden
        overflow-y: hidden

    &__body

.fs-block

    &__body
        min-height: 100vh

        @include adaptive-property ("padding-bottom",80, 20)

.inviter
    position: relative
    background: #694fca
    color: #fff

$stepToMobileWidth: 740px
.step
    position: absolute
    top: 0
    left: 0
    right: 0

    &__body
        display: flex
        justify-content: center
        align-items: center

    &__frame
        position: relative
        transform: translate(0,-50%) //fix this
        display: flex
        flex-flow: column nowrap
        justify-content: flex-end

        @include adaptive-property ('padding', 30, 10)
        @include adaptive-property ('padding-right', 80, 30)
        border: solid 10px #fff
        text-align: left
        @include adaptive-property ('width', 500, 250)
        @include adaptive-property ('height', 500, 250)

        @media (max-width: $stepToMobileWidth)
            transform: translate(0,-17%)
            @include adaptive-property ('padding', 30, 10)

    &__number
        position: absolute
        bottom: 0
        left: 0%
        transform: translate(-120%,20%)
        color: #ffa800
        @include adaptive-property ('font-size',150, 75)

        @media (max-width: $stepToMobileWidth)
            position: static
            transform: none

    &__title

    &__subtitle
        @include adaptive-property ('font-size',20, 15)
        padding: 3px 0px 3px 0px

    &__image
        position: absolute
        bottom: 0
        right: 0
        transform: translate(60%,35%)
        @include adaptive-property ('width',280, 140)
        @include adaptive-property ('padding-bottom',200, 100)

        @media (max-width: $stepToMobileWidth)
            transform: translate(30%,90%)

.step-block
    position: relative

.step-reverse
    .step__frame
        align-items: flex-end
        text-align: right
        padding-right: 30px
        @include adaptive-property ('padding-left', 80, 30)

        @media (max-width: $stepToMobileWidth)
            @include adaptive-property ('padding', 30, 10)

    .step__image
        left: 0
        transform: translate(-60%,35%)
        @media (max-width: $stepToMobileWidth)
            transform: translate(-30%,90%)

    .step__number
        right: 0
        transform: translate(25%,20%)
        @media (max-width: $stepToMobileWidth)
            position: static
            transform: none

    .step__subimage
        position: absolute
        bottom: 0
        left: 0
        transform: translate(-60%,160%)
        @include adaptive-property ('width',350, 150)
        @include adaptive-property ('padding-bottom',120, 60)

        @media (max-width: $stepToMobileWidth)
            transform: translate(90%,120%)

.step-2
    background: #fff

    .step__frame
        border-color: #000
    .step__number
        color: #000
        right: 0
        transform: translate(30%,20%)

.advantages
    @include adaptive-property ('padding-top',400, 300)

    @media (max-width: $stepToMobileWidth)
        @include adaptive-property ('padding-top',500, 330)

    &__body
        display: grid
        grid-template: 'title info info' 0.7fr 'info-block info-block info-block' 1fr / 1fr 1fr 1fr
        gap: 50px
        text-align: left
        align-items: center
        text-transform: none
        font-family: Poppins-Regular

        @media (max-width: 900px)
            gap: 25px
        @media (max-width: 768px)
            align-items: start
        @media (max-width: 500px)
            grid-template: 'title title' 0.3fr 'info info' 0.3fr 'info-block info-block' 1fr / 1fr 1fr

    &__title
        grid-area: title
        font-family: $mainFontFamily

    &__info
        grid-area: info
        @include adaptive-property ('line-height',30, 20)
        @include adaptive-property ('font-size',16, 12)

    &__info-block
        // ! Delete this if you use an even number of blocks.
        @media (max-width: 500px)
            &:last-child
                grid-column: span 2
                grid-row: span 2

    &__slider

    &__pagination
        position: static !important
        margin: 50px 0px 0px 0px

        .swiper-pagination-bullet
            width: 13px
            height: 5px
            opacity: 1
            border-radius: 12px
            background: #fff
            transition: all 0.2s ease

        .swiper-pagination-bullet-active
            background: #ffa800
            padding: 0px 15px 0px 15px
            &:first-child
                padding: 0px 0px 0px 30px
            &:last-child
                padding: 0px 30px 0px 0px

.advantage
    *
        margin: 0px 0px 25px 0px
        &:last-child
            margin-bottom: 0

    @media (max-width: 500px)
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        text-align: center

    &__icon
        @include adaptive-property ('width', 40, 30)
        @include adaptive-property ('padding-bottom', 40, 30)

    &__name
        display: inline-block
        font-family: $mainFontFamily
        text-transform: uppercase
        color: #ffa800
        @include adaptive-property ('font-size',30, 25)

        &:after
            display: block
            content: ''

            @include adaptive-property ('width', 50, 30)
            border-bottom: 1px solid #fff
            padding: 0px 0px 25px 0px

            @media (max-width: 500px)
                margin: auto

    &__info
        line-height: 1.88

.video
    background: url('../images/videoBG.jpg') no-repeat bottom / cover

    @include adaptive-property ('min-height',900, 400)
    position: relative

    &__body
        padding: 10% 0px 10% 0px

    &__title

    &__subtitle
        line-height: 1.82
        font-family: Poppins-Regular
        text-transform: none

    &__bg-title
        position: absolute
        display: inline-block
        width: 100%
        top: 0
        left: 0
        transform: translate(0,30%)
        @include adaptive-property ('font-size',200, 65)
        color: rgba(0, 0, 0, 0.1)

        @media (max-width: 426px)
            transform: translate(0,220%)

    &__play-button
        display: inline-flex
        justify-content: center
        align-items: center
        @include adaptive-property ('width', 80, 50)
        @include adaptive-property ('height', 80, 50)

        background: #d1d0d0
        border: 1px solid #a5a4a4
        border-radius: 50%
        span
            display: flex
            justify-content: center
            align-items: center
            background: #d1d0d0
            border: 1px solid #bebebe
            border-radius: 50%
            @include size (50%,50%)
            @include adaptive-property ('font-size',20, 15)
            line-height: 1.5em

    &__play-button-layer
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        display: inline-flex
        justify-content: center
        align-items: center
        margin: auto
        border: 1px solid #a5a4a4
        border-radius: 50%

        @include adaptive-property ('width', 150, 75)
        @include adaptive-property ('height', 150, 75)

.what-we-do
    $toMobileWidth: 1050px
    background: #fff
    min-height: 550px

    @media (max-width: $toMobileWidth)
        min-height: 1000px
    @media (max-width: 768px)
        min-height: 0

    &__body
        position: relative
        display: flex
        justify-content: space-between
        align-items: center

        @media (max-width: $toMobileWidth)
            display: block

    &__container
        margin: auto

        @media (max-width: $toMobileWidth)
            padding: 10% 0px 10% 0px
            min-height: auto

        @media (min-width: 768px)
            width: 90%

        @media (min-width: 426px) and (max-width: 768px)
            width: 80%

        @media (max-width: 425px)
            width: 95%

    &__slider
        display: contents
        flex: 1 0 60%

    &__square
        position: relative
        width: 40%
        padding: 50px 0px 50px 0px
        border: 15px solid black

        @media (max-width: 1300px)
            width: 35%
        @media (max-width: $toMobileWidth)
            border: none
            width: 100%
            padding-top: 90px

    .swiper
        margin-right: -60%
        margin-left: -10%
        @media (max-width: $toMobileWidth)
            margin: auto

    &__slide-image
        padding: 0px 0px 50% 0px

        @media (max-width: 600px)
            padding-bottom: 100%

        img
            object-fit: contain
            @media (max-width: 600px)
                object-fit: cover

    &__advantages
        display: grid
        gap: 50px

        grid-template: repeat(3, 1fr) / repeat(2, 1fr)
        align-items: center
        justify-items: left

        @media (min-width: 1440px)
            gap: 75px
        @media (max-width: $toMobileWidth)
            margin: 0px 20% 0px 20%
        @media (max-width: 700px)
            justify-items: start
            margin: 0px 0% 0px 0%

    &__slide-info
        @media (max-width: $toMobileWidth)
            position: absolute
            width: 80%
            top: 55%
            left: 50%
            transform: translate(-50%, -50%) !important

    &__advantage
        display: flex
        justify-content: center
        align-items: center
        font-weight: 600

        img
            display: inline-block
            @include size (50px,50px)
            margin: 0px 20px 0px 0px

    &__number
        position: absolute
        bottom: 15%
        right: 33%
        left: auto
        transform: none

        color: #000

        @media (max-width: 1300px)
            right: 37%

        @media (max-width: 740px)
            position: absolute

        @media (max-width: $toMobileWidth)
            top: 8%
            bottom: auto
            right: auto
            left: 50%
            transform: translate(-50%, -50%) !important

        @media (max-width: 426px)
            top: 10%

.slide-info
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(0%, -50%)
    background: #694fca
    z-index: 2

    &__body
        padding: 30px 30px 30px 30px
        text-align: left

        @media (max-width: 1300px)
            padding: 20px 13px 20px 13px
        *
            display: inline-block
            padding: 0px 0px 10px 0px
            &:last-child
                padding-bottom: 0

    &__title
        text-transform: uppercase
        color: #ffa800
        @include adaptive-property ('font-size',40, 25)

    &__info
        text-transform: none
        font-family: Poppins-Light
        line-height: 2.22
        @include adaptive-property ('font-size',13, 12)
        color: #fff

        @media (max-width: 1300px)
            line-height: 1.4

    &__close
        position: absolute
        top: 10%
        right: 5%

        @include size (25px,25px)
        transition: all 0.2s ease

        &:hover
            transform: rotate(90deg)

        img
            @include size (100%,100%)

.what-we-do__navigation
    position: absolute
    z-index: 10
    top: 10%
    left: 15%
    display: flex
    align-items: center
    justify-content: space-between

    @media (max-width: 600px)
        top: 22%
        left: 5%
    @media (max-width: 426px)
        display: none

    .swiper-button-disabled
        filter: contrast(0.2)

    .what-we-do__prev-el
        display: flex
        align-items: center
        justify-content: space-between
        margin-right: 25px
        cursor: pointer

        &:hover
            text-decoration: underline

        img
            @include size (30px,30px)
            object-fit: contain
            transform: rotate(180deg)

            margin-right: 10px

    .what-we-do__next-el
        @extend .what-we-do__prev-el

        img
            transform: none
            margin-left: 10px

.about-us

    position: relative
    &__body
        padding: 700px 0px 0px 0px

        @media (max-width: 1370px)
            padding: 50px 0px 0px 0px

        .about-us__bg
            z-index: -1
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            @include size (100%,100%)

            object-fit: cover

    &__info
        *
            padding: 0px 0px 30px 0px
            &:last-child
                padding-bottom: 0

    &__title

    &__subtitle
        letter-spacing: 8px
        line-height: 1.25
        @include adaptive-property ('font-size',30, 20)

    &__delimiter
        margin: 20px 0px 20px 0px

        @media (max-width: 1370px)
            display: none

        span
            display: block
            height: 80px
            width: 2px
            background: #000
            margin: auto

    &__about-customers
        font-family: Poppins-Regular
        text-transform: none

.customer-reviews
    padding: 30px 0px 30px 0px
    margin: -15px -15px -15px -15px

    &__body
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center

.customer-review
    flex: 0 0 33.33%

    &:hover
        .customer-review__body
            background: #694fca
            box-shadow: 0 20px 12px rgba(0,0,0,0.4)

        .customer-review__rating, .customer-review__review
            color: #fff

        .customer-review__name, .customer-review__location
            color: #fc9936

    &__body
        background: #fff
        padding: 30px 30px 30px 30px
        min-height: 500px
        min-width: 300px
        margin: 15px 15px 15px 15px
        display: flex
        flex-flow: column nowrap
        justify-content: space-between
        align-items: center

        transition: all 0.2s ease

    &__image
        width: 105px
        padding: 0px 0px 105px 0px
        margin: 0px 0px 40px 0px
        @include adaptive-property ('width', 105, 104)
        @include adaptive-property ('padding-bottom', 105, 104)
        img
            border-radius: 50%

    &__rating
        color: #ff8610
        margin: 0px 0px 20px 0px
        @include adaptive-property ('font-size',24, 23)
        transition: all 0.2s ease

    &__review
        text-transform: none
        margin: 0px 0px 30px 0px
        line-height: 30px
        transition: all 0.2s ease
        @include adaptive-property ('font-size',16, 14)
        font-family: Georgia

        &:before
            content: '“ '
        &:after
            content: ' ”'

    &__name
        font-family: Roboto-Bold
        letter-spacing: 2.8px
        margin: 0px 0px 5px 0px
        @include adaptive-property ('font-size',14, 13)
        transition: all 0.2s ease

    &__location
        font-family: Roboto
        color: #999999
        letter-spacing: 1.68px
        @include adaptive-property ('font-size',13, 12)
        transition: all 0.2s ease

.block-title
    @include adaptive-property ('font-size',70, 40)

.container
    margin: auto
    @media (min-width: $containerWidth + px)
        width: 70%

    @media (min-width: 768px) and (max-width: $containerWidth + px)
        width: 70%

    @media (min-width: 426px) and (max-width: 768px)
        width: 80%

    @media (max-width: 425px)
        width: 95%

.modal-window
    position: fixed
    z-index: 15
    top: 0
    left: 0
    background: #00000046
    @include size (100%,100%)

    overflow: hidden
    opacity: 0
    pointer-events: none
    transition: opacity 0.5s ease

    &.active
        overflow-y: scroll
        opacity: 1
        pointer-events: all

    &__body
        display: flex
        height: 100%
        justify-content: center
        align-items: center

    &__content
        height: 80%

    iframe
        width: 100%
        height: 100%
        min-height: 300px

        object-fit: cover
