* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Abraham-Lincoln";
  font-display: swap;
  src: url("../fonts/AbrahamLincoln.woff") format("woff"), url("../fonts/AbrahamLincoln.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/Georgia Regular font.woff") format("woff"), url("../fonts/Georgia Regular font.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Black";
  font-display: swap;
  src: url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0px 0px 100% 0px;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 10px;
}

.fixed-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: auto;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navmenu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 10px 0px;
  padding-right: calc(10px + (22 - 10) * ((100vw - 320px) / (1200 - 320)));
  padding-left: calc(10px + (22 - 10) * ((100vw - 320px) / (1200 - 320)));
}

.navmenu__list li:last-child {
  padding-right: 0;
}

.navmenu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid #00000000;
  width: 100%;
  height: 100%;
  letter-spacing: 6px;
  padding: 0px 0px 5px 0px;
  font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1200 - 320)));
  color: white;
}

.navmenu__list li a:hover {
  border-color: #fff;
}

.fullscreen-navmenu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1200 - 320)));
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #000000ad;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fullscreen-navmenu.active {
  left: 0;
}

.fullscreen-navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  overflow: auto;
}

.fullscreen-navmenu__body:before {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  content: url(".");
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  background: #fff;
}

.fullscreen-navmenu ul {
  overflow: auto;
  width: 100%;
}

.fullscreen-navmenu ul li {
  text-align: center;
  padding: 25px 0px 25px 0px;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.fullscreen-navmenu ul li:hover {
  color: #beafaf;
}

.fullscreen-navmenu ul li:last-child {
  border: none;
}

.fullscreen-navmenu ul li a {
  color: #fff;
}

.header__burger {
  display: none;
  border-radius: 0px;
  background-color: transparent;
}

.header__burger.active {
  border-color: #000;
  -webkit-transform: rotateZ(450deg);
      -ms-transform: rotate(450deg);
          transform: rotateZ(450deg);
}

.header__burger.active span {
  background-color: #000;
}

.logo {
  font-family: Gotham-Black;
  z-index: 10;
  color: #fff;
  padding: 5px 5px 5px 5px;
  border: 1.5px solid #fff;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
}

.sidepanel {
  position: absolute;
  right: 30px;
  top: 50%;
}

.sidepanel ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.sidepanel ul li {
  -webkit-transform: rotate(-89.9deg);
      -ms-transform: rotate(-89.9deg);
          transform: rotate(-89.9deg);
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidepanel ul li:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.sidepanel ul li a {
  padding: 50px 0px 50px 0px;
  color: #fff;
  border: none;
}

.sidepanel .phone {
  width: calc(15px + (25 - 15) * ((100vw - 320px) / (1200 - 320)));
  height: calc(15px + (25 - 15) * ((100vw - 320px) / (1200 - 320)));
  padding: 0px 0px 0px 0px;
  background: #ffa800;
  border-radius: 50%;
  border: none;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidepanel .phone img {
  width: 50%;
  height: 50%;
}

.sidepanel .phone picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidepanel .phone:hover {
  width: calc(25px + (35 - 25) * ((100vw - 320px) / (1200 - 320)));
  height: calc(25px + (35 - 25) * ((100vw - 320px) / (1200 - 320)));
}

.footer {
  background: #212121;
  color: #fff;
  font-family: Roboto-Medium;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
}

.footer a {
  color: #fff;
}

.footer__body {
  padding: 28px 0px 80px 0px;
  text-transform: uppercase;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 30px 0px;
  border-bottom: 1px solid #2c2c2c;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: none;
}

.footer__title {
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: calc(14px + (14 - 14) * ((100vw - 320px) / (1200 - 320)));
  letter-spacing: 2.8px;
  margin: 0px 0px 30px 0px;
  text-transform: uppercase;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  min-width: 300px;
  margin: 10px 60px 10px 0px;
}

.footer__block:last-child {
  margin-right: 0;
  min-width: auto;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 10px;
}

.contacts-block * {
  letter-spacing: 2.6px;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1200 - 320)));
}

.contacts-block *:hover {
  text-decoration: underline;
}

.contacts-block:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0px 15px 0px 0px;
  content: '';
}

.about-us {
  min-width: 420px;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us__title {
  width: 100%;
}

.about-us__image {
  min-width: 170px;
  max-height: 130px;
  padding: 0px 10px 130px 0px;
}

.about-us__info {
  display: inline-block;
}

.about-us__text {
  padding: 0px 0px 30px 20px;
  color: #999999;
  text-transform: none;
  line-height: 30px;
  margin: -10px 0px 0px 0px;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (1200 - 320)));
}

.socials {
  padding: 0px 0px 0px 20px;
}

.socials a {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0px 10px 10px 0px;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.socials a:hover {
  border-color: white;
}

.socials a.__mobile-link {
  display: none;
}

.socials__item {
  width: 100%;
  height: 100%;
}

.newsletter__text {
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (1200 - 320)));
  line-height: 1.75;
  letter-spacing: 2.4px;
  margin: 0px 0px 25px 0px;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.newsletter__form * {
  margin: 0px 0px 10px 0px;
}

.newsletter__form input {
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (1200 - 320)));
  letter-spacing: 2.4px;
  color: #999;
  font-family: Roboto-Medium;
  padding: 13px 0px 13px 13px;
  background: #212121;
  border: 1px solid #454545;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.newsletter__form input:focus {
  color: #161616;
  background: #999;
}

.newsletter__form button {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #694fca;
  color: #fff;
  border: 1px solid #694fca;
  font-family: Roboto-Light;
  letter-spacing: 2.8px;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1200 - 320)));
  padding: 14px 15px 14px 15px;
  max-width: 130px;
}

.newsletter__form button:hover {
  background: #533f9946;
}

.newsletter__form button:active {
  background: none;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 12px 0px;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (1200 - 320)));
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.blog__body:hover {
  font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1200 - 320)));
}

.blog__image {
  min-width: 60px;
  padding: 0px 0px 60px 0px;
}

.blog__content {
  padding: 0px 0px 0px 25px;
}

.blog__content * {
  margin: 0px 0px 10px 0px;
}

.blog__content *:last-child {
  margin-bottom: 0;
}

.blog__title {
  position: relative;
}

.blog__title:before {
  position: absolute;
  display: inline-block;
  left: -14px;
  top: 2px;
  line-height: 1;
  width: 7px;
  height: 7px;
  background: url("../images/icons/right-arrow.svg") no-repeat center/contain;
  color: #fff;
  content: "";
}

.blog__date {
  letter-spacing: 2.4px;
  color: #694fca;
}

.telephone:before {
  background: url("../images/footer/icons/phone.png") no-repeat center/contain;
}

.telephone__number:before {
  text-transform: uppercase;
  content: 'Call Now: ';
}

.mail:before {
  background: url("../images/footer/icons/mail.png") no-repeat center/contain;
}

.mail a {
  letter-spacing: 2.6px;
  color: #694fca;
}

.mail a:before {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  content: 'Mail: ';
}

body {
  height: 100%;
  color: #000000;
  font-family: "Abraham-Lincoln";
  background: #000000ee;
  text-transform: uppercase;
  font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1200 - 320)));
}

body.fixed {
  overflow: hidden;
}

.main {
  width: 100%;
}

.fullscreen {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100vh;
  min-height: 1100px;
  background: url("../images/fullscreenBG.jpg") no-repeat bottom/cover;
}

.fullscreen__body {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.fullscreen__body * {
  margin: 0px 0px 20px 0px;
}

.fullscreen__body *:last-child {
  margin-bottom: 0;
}

.fullscreen__title {
  color: #ffa800;
  font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (1200 - 320)));
}

.fullscreen__subtitle {
  text-align: center;
  line-height: 1.25;
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1200 - 320)));
  letter-spacing: 8px;
}

.fullscreen__scroll {
  z-index: 5;
  text-transform: uppercase;
  font-family: "Abraham-Lincoln";
  color: #fff;
  letter-spacing: 5.2px;
  font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (1200 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto;
}

.fullscreen__scroll:before {
  position: relative;
  top: 0;
  right: 10%;
  margin-left: auto;
  display: inline-block;
  height: calc(45px + (60 - 45) * ((100vw - 320px) / (1200 - 320)));
  width: calc(45px + (60 - 45) * ((100vw - 320px) / (1200 - 320)));
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  content: '';
}

.fullscreen__scroll:after {
  display: inline-block;
  margin: auto;
  content: url("../images/icons/arrowBottom.png");
  padding: 70% 0px 0px 0px;
}

.content {
  text-align: center;
}

.fs-block__body {
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1200 - 320)));
}

.inviter {
  background: #694fca;
  color: #fff;
}

.step__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step__frame {
  position: relative;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)));
  padding-right: calc(30px + (80 - 30) * ((100vw - 320px) / (1200 - 320)));
  border: solid 10px #fff;
  text-align: left;
  width: calc(250px + (500 - 250) * ((100vw - 320px) / (1200 - 320)));
  height: calc(250px + (500 - 250) * ((100vw - 320px) / (1200 - 320)));
}

.step__number {
  position: absolute;
  bottom: 0;
  left: 0%;
  -webkit-transform: translate(-120%, 20%);
      -ms-transform: translate(-120%, 20%);
          transform: translate(-120%, 20%);
  color: #ffa800;
  font-size: calc(75px + (150 - 75) * ((100vw - 320px) / (1200 - 320)));
}

.step__subtitle {
  font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1200 - 320)));
  padding: 3px 0px 3px 0px;
}

.step__image {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(60%, 35%);
      -ms-transform: translate(60%, 35%);
          transform: translate(60%, 35%);
  width: calc(140px + (280 - 140) * ((100vw - 320px) / (1200 - 320)));
  padding-bottom: calc(100px + (200 - 100) * ((100vw - 320px) / (1200 - 320)));
}

.step-reverse .step__frame {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  padding-right: 30px;
  padding-left: calc(30px + (80 - 30) * ((100vw - 320px) / (1200 - 320)));
}

.step-reverse .step__image {
  left: 0;
  -webkit-transform: translate(-60%, 35%);
      -ms-transform: translate(-60%, 35%);
          transform: translate(-60%, 35%);
}

.step-reverse .step__number {
  right: 0;
  -webkit-transform: translate(25%, 20%);
      -ms-transform: translate(25%, 20%);
          transform: translate(25%, 20%);
}

.advantages__body {
  display: grid;
  grid-template: 'title info info' 0.7fr 'info-block info-block info-block' 1fr / 1fr 1fr 1fr;
  gap: 50px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
  font-family: Poppins-Regular;
}

.advantages__title {
  grid-area: title;
  font-family: "Abraham-Lincoln";
}

.advantages__info {
  grid-area: info;
  line-height: 2;
}

.advantage * {
  margin: 0px 0px 25px 0px;
}

.advantage *:last-child {
  margin-bottom: 0;
}

.advantage__icon {
  width: calc(30px + (40 - 30) * ((100vw - 320px) / (1200 - 320)));
  padding-bottom: calc(30px + (40 - 30) * ((100vw - 320px) / (1200 - 320)));
}

.advantage__name {
  display: inline-block;
  font-family: "Abraham-Lincoln";
  text-transform: uppercase;
  color: #ffa800;
  font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1200 - 320)));
}

.advantage__name:after {
  display: block;
  content: '';
  width: calc(30px + (50 - 30) * ((100vw - 320px) / (1200 - 320)));
  border-bottom: 1px solid #fff;
  padding: 0px 0px 25px 0px;
}

.advantage__info {
  line-height: 1.88;
}

.swiper-button-next,
.swiper-button-prev {
  display: inline-block;
  top: 43% !important;
  padding: 35px 35px 35px 35px;
  background: #261d1d5e;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  padding: 35px 35px 35px 55px;
  background: #261d1d;
}

.swiper-button-prev:hover {
  padding: 35px 55px 35px 35px;
}

.block-title {
  font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
}

.container {
  margin: auto;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: #00000046;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.modal-window.active {
  overflow-y: scroll;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 200px) {
  .header__body .logo {
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media (min-width: 600px) {
  .fullscreen .fullscreen__title,
  .fullscreen .fullscreen__subtitle {
    -webkit-transform: translate(0, -100px);
        -ms-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .fullscreen {
    background: url("../images/fullscreenBG.jpg") no-repeat center/cover;
    min-height: 1300px;
  }
}

@media (min-width: 2300px) {
  .fullscreen {
    min-height: 1500px;
  }
}

@media (max-width: 900px) {
  .advantages__body {
    gap: 25px;
  }
}

@media (max-width: 850px) {
  .sidepanel {
    display: none;
  }

  .socials a.__mobile-link {
    display: block;
  }
}

@media (max-width: 600px) {
  .header__burger {
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 20px;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__burger span {
    height: 0.18em;
    width: 100%;
    background-color: #000;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .fullscreen {
    min-height: 550px;
    width: auto;
    height: 100vh;
  }
}

@media (max-width: 550px) {
  .fullscreen__scroll {
    display: none;
  }
}

@media (max-width: 510px) {
  .footer__body {
    padding: 28px 0px 20px 0px;
  }

  .footer__block {
    margin-right: 0;
  }

  .about-us {
    min-width: 0px;
  }

  .about-us__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .about-us__text {
    margin: 20px 0 0 0;
    padding: 0px 0px 10px 0px;
  }
}

@media (max-width: 500px) {
  .step__frame {
    -webkit-transform: translate(0, -20%);
        -ms-transform: translate(0, -20%);
            transform: translate(0, -20%);
    padding: calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)));
  }

  .step__number {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .step__image {
    -webkit-transform: translate(30%, 90%);
        -ms-transform: translate(30%, 90%);
            transform: translate(30%, 90%);
  }

  .step-reverse .step__frame {
    padding: calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)));
  }

  .advantages__body {
    grid-template: 'title info' 200px 'info-block info-block' 1fr / 1fr 1fr;
  }
}

@media (max-width: 426px) {
  .navmenu__list li a {
    letter-spacing: 3px;
  }

  .footer__top {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
  }

  .footer__title {
    margin: 0px 0px 10px 0px;
  }

  .contacts-block {
    padding-bottom: 20px;
  }

  .socials a {
    margin: 10px 10px 10px 0px;
  }

  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .advantage__name:after {
    margin: auto;
  }
}

@media (max-width: 425px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 200px) {
  .navmenu {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0px;
  }

  .container {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 70%;
  }
}